
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}

h1{
	text-align:center;
	display:block;
	margin:30px;
	font-size:4em;
	width:100%;
}
h2{
	text-align:center;
	margin:20px;
	font-size:4em;
	width:100%;
}

p{
	font-size:25px;
	width:1450px;
	text-align:center;
	margin-right:50px;
	margin-top:25px;
	letter-spacing:1px;
	line-height:1.5;
	color:#4682b4;
}

a{
	
	color:red;
}

.container1{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
 .metalimg1{
 	margin-top:200px;

 }

.carousel-inner{
	
	width:100%;
	margin-top:75px;
	
	
}
.image1{
	width:40%;
	height:1200px;
	margin:auto;
	display:block;
}

.header{
	text-align:center;

}
button{
	width:200px;
	height:50px;
	background:black;
	border:2px solid white;
	color:white;
	border-radius:10px;
	margin:20px 3px;

}
.header{
	background-image:url("mhome1.jpg");
	background-repeat:no-repeat;
	background-size:60% 100%;
	background-position:center;
	height:800px;
	width:100%;
}

.container2{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}
img{
	margin-left:900px;
	margin-top:30px;
	margin-bottom:30px;
	
}
